
body {
    /* background-image: url('/images/pic7.png'); */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #16113A;

}
 nav {
    position: absolute;
    top: 6%;
    display: inline-block;
    border: 2px solid #D8D8D8;
    background-color: #D8D8D8;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    /* padding: 10px; */
    width: 1222px;
}

ul {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}

li:not(:last-child) {
    margin-right: 40px;
}

li {
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
    list-style: none;
}

a {
    color: #7A7879;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    list-style: none;


}

.nav-link {
    position: relative;
    top: 24px;
    right: -59px;
}



.logo {
    color: #333; /* fallback color */
background-image: linear-gradient(to right, #16113A, #1bafaf);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

}


ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 3px 5px 2px #EBECF1;
}

ul li ul li {
    margin: -2px 0 0 -2px;
    width: calc(100% - 20px);
    line-height: 1.7;
}


.navies{
    margin-top: 12px;
}
.navies li:hover {
    position: relative;
    cursor: pointer;
  }

  .navies li:hover::after {
    content: '';
    position: absolute;
    bottom: 4px; /* Adjust the distance of the point from the list item */
    left: 50%;
    transform: translateX(-50%);
    width: 5px; /* Adjust the width of the point */
    height: 5px; /* Adjust the height of the point */
    background-color: #2D66FE; /* Adjust the color of the point */
    border-radius: 50%;
    color: black;
    font-weight: bold;
  }
  a:hover {
    color: black;
    font-weight: bold;
}
  a#user{
    position: absolute;
    top: 25px;
    /* left: 416px; */
    right: 171px;
}

@keyframes hideSignup {
    0% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }

    50% {
        transform: translate(0, 0) scaleY(.8);
    }

    100% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .3s ease-out;
}

.form-login fieldset {
    transform: translateX(-50%);
    margin-top: -36px;

}
.form-signup fieldset {
    transform: translateX(-50%);
    margin-top: -36px;
}

.form-signup fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    margin-bottom: 10px;
}


.input-block input {
    display: block;
    width: 100%;
    margin-top: -3px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #cddbef;
    background-image: linear-gradient(to right, #16113A, #1bafaf);
    border: 1px solid #cddbef;
    border-radius: 20px;
}

.form [type='submit'] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 3px auto -25px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s ease-in;
}

.btn-login {
    color: #fbfdff;
    background: #45dde2;
    transform: translateX(-30%);
}

.btn-signup {
    color: #a7e245;
    background: #fbfdff;
    box-shadow: inset 0 0 0 2px #a7e245;
    transform: translateX(30%);
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 74%;
    top: -92px;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.circle::before {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 48px;
    color: #666;
}

.upload-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

