/* Style for profile picture */
.profile-pic-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .sidebar-profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  /* Style for user info */
  .col-md-9 {
    margin-top: 20px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #007bff;
  }

  .cv-image {
    margin-top: 10px;
    max-width: 100%;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #dee2e6;
  }

  /* Style for update profile form */
  form {
    margin-top: 20px;
  }

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }

  input[type="text"], input[type="email"], input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0069d9;
  }
